#banner-2 {
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    align-items: baseline;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.27) 0%, #DEB699 82.15%);
    text-align: center;
    gap: 180px;
}

.banner__shipping img {
    width: 80%;
    height: auto;
}

.banner__warrantly img {
    width: 50%;
    height: auto;
}

.banner__payment img {
    width: 50%;
    height: auto;
}






