/*ESTILOS GLOBALES*/

body{
   
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

a {
    font-family: 'cinzel';
    font-size: 15px;
    text-decoration: none;
}

p {   
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight:lighter;
    color:rgba(0, 0, 0, 0.699);
}

h1 { 
    font-family: 'cinzel';
    font-size: 60px;
    color: #000;
    line-height: 75px;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: #000;
    font-family: 'cinzel';
    font-size: 60px;
    line-height: 0px;
    letter-spacing: 2px;
}

h3 {
    color: #000;
    font-family: 'cinzel';
    letter-spacing: 2px;

}

.button-red {
    font-family: 'open sans';
    font-weight:500;  
    border: none;
    cursor: pointer; 
    border-radius: 20px;
    color: white;
    background: #F00;
    box-shadow: 0px 4px 4px 0px rgba(255, 0, 0, 0.50);
    padding: 18px 20px;
    margin-bottom: 0px;
}

.section_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 420px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 10px 25px #deb699;
    overflow: hidden;
    padding: 0;
}

.section__card-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    
    width: 240px;
    height: 350px;
    
    border-radius: 30px;
    box-shadow: 0px 5px 15px #DEB699;  
    overflow: hidden;
    padding: 0; 
}