/* ESTILOS HEADER */


/* Estilos generales del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    box-shadow: 0px -6px 4px 1px #00000008 inset;
}

/* Estilos de la navegación */
.header__navigation {
    display: flex;
    align-items: center;
}

.header__navigation img {
    width: 200px;
    height: auto;
}

.header__navigation nav {
    margin-left: 80px;
}

.header__navigation nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header__navigation nav ul li {
    margin-right: 5px; /* Espaciado entre elementos */
}

.header__navigation nav ul li a {
    font-weight: bold;
    letter-spacing: 3px;
}

/* Estilos del área de compras */
.header__shopping {
    display: flex;
    align-items: center;
}

.header__shopping div {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 10px; /* Reducir el margen para un aspecto más limpio */
}

.header__shopping div img {
    width: 23px;
    height: auto;
}

/* Estilos específicos para el enlace "sale" */
#sale {
    font-size: 15px;
    color: red;
    text-decoration: underline;
}
