/*ESTILOS SECTION-1*/

#section-1 {
    padding: 40px 80px;
}

.section-1__colecctions {
    width: 100%;
    height: auto;
}

.section-1__colecctions span {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 2px 5px;
    background-color: black;
    color: #fff;
}

.section-1__colecctions p {
    text-align:justify;
    letter-spacing: 1px;
    padding-left: 18px;
    padding-top: 30px;
}

#style-column {
    display: flex;
   justify-content:center;
   gap: 150px;
   padding-top: 80px;
}

.section-1__card-1 img {
    max-width: 150%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen al ajustar el ancho */
    margin: 0px;
   
}

.section-1__card-1 h3 {
    align-content: center;
    margin-top: -10px;
}

  
    .section-1__card-2 img {
        max-width: 150%; 
        height: auto; 
    }
    
    .section-1__card-2 h3 {
        font-size: 1.5rem; 
        margin-top: -10px;
        font-weight: bold;  
    }




  