#section-2 {
    padding: 40px 80px;
     
}

.section-2__jewelry {
    width: 100%;
    height: auto;
}

.section-2__jewelry span {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 2px 5px;
    background-color: black;
    color: white;
   
}

.section-2__jewelry p {
    text-align:justify;
    letter-spacing: 1px;
    padding-left: 18px;
    padding-top: 30px;
}

#style-column-2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    gap: 60px;
}

#style-column-2 > a {
    width: calc(25% - 30px); /* Calcula el ancho del elemento considerando el espacio entre ellos
    para que queden 3 elementos por fila y no agregar margenes individuales */
}

#style-column-2 img {
    max-width: 120%; 
    height: auto; 
    display: block;
}
